{% extends "base.html" %}

{% block title %}Copeland - Drum sets configurator{% endblock %}

{% block nav %}
     {% include "header/choosed_header.twig" %}
{% endblock %}

{% block content %}
	<section>
		<h2 class="fs-1 ms-2">MOST POPULAR ITEMS</h2>
		<div class="d-flex"><div class="row">
			{% if items is defined %}
				{% for item in items %}
					<div class="px-2 col-10 col-lg-4 mx-auto mx-lg-0 my-2"><div class="card"><div class="card-img-top w-100 ratio ratio-1x1" style="background-image: url(./itemmedia/{{ item.img_src }}); background-repeat: no-repeat; background-size: contain; background-position: center;"></div><div class="card-body row"><div class="col-9"><h4 class="m-0" class="card-title"><a href="item.php?item_id={{ item.item_id }}" class="text-decoration-none text-dark">{{ item.item_name }}</a></h4><p class="my-2" style="font-size: 15px;">CATEGORY: {{ item.category_name }}</p><p class="my-2" style="font-size: 15px;">SIZE: {{ item.size }}</p></div><div class="col-3 d-flex align-items-center justify-content-center"><div><div class="position-absolute p-3 border rounded" style="display: none; background: #fff; margin-top: 46px; z-index: 111;"><form method="get" action="./private/item_list/add_item_to_list.inc.php"><input type="hidden" name="item_id" value="{{ item.item_id }}">
					{% if isLogged %}
						{% if lists|length > 0 %}
							{% for item in lists %}
								<input type='checkbox' name='item_name_{{ item.list_name }}' value='{{ item.list_id }}'>  <label>{{ item.list_name }}</label><br>
							{% endfor %}
							<input type='submit' class='mt-2 btn btn-primary' value='Add to list'>
						{% else %}
							<strong>You don't have any lists</strong>
						{% endif %}
					{% else %}
						<strong>You are not logged in</strong>
					{% endif %}
					</form></div><div class="popover" data-on="0"><button type="button" class="btn btn-primary">+</button></div></div></div></div></div></div>
				{% endfor %}
			{% else %}
				<p>No items found</p>
			{% endif %}
		</div></div>
	</section>
{% endblock %}
